// generator de gradient : http://www.colorzilla.com/gradient-editor/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

* {margin:0; padding:0;}

html {
	font: 90%/1.3 Verdana,"Times New Roman", serif;
	padding:1em;
	background:#eeeeee url(images/esup-logo.gif) no-repeat scroll 99% 12px;	
}


#header { 
	width: 530px !important;
	line-height: 54px; 
	padding: 0px 20px;
    margin: 0 auto;
	margin-top:.5em;
}

#header,.btn-submit  {
	background: #2d8ee2; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #2d8ee2 0%, #1e5799 60%, #1e5799 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#2d8ee2), color-stop(60%,#1e5799), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #2d8ee2 0%,#1e5799 60%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #2d8ee2 0%,#1e5799 60%,#1e5799 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #2d8ee2 0%,#1e5799 60%,#1e5799 100%); /* IE10+ */
	background: linear-gradient(45deg,  #2d8ee2 0%,#1e5799 60%,#1e5799 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8ee2', endColorstr='#1e5799',GradientType=1 );*/ /* IE6-9 fallback on horizontal gradient */
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	-ms-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	-moz-border-radius-topleft: 8px; 
	-webkit-border-top-left-radius: 8px; 
	-o-border-top-left-radius: 8px; 
	-ms-border-top-left-radius: 8px; 
	-khtml-border-top-left-radius: 8px; 
	border-top-left-radius: 8px; 
	-moz-border-radius-topright: 8px; 
	-webkit-border-top-right-radius: 8px; 
	-o-border-top-right-radius: 8px; 
	-ms-border-top-right-radius: 8px; 
	-khtml-border-top-right-radius: 8px; 
	border-top-right-radius: 8px; 
	-moz-box-shadow: black 0px 3px 6px 0; 
	-webkit-box-shadow: black 0px 3px 6px 0; 
	-o-box-shadow: black 0px 3px 6px 0; 
	box-shadow: black 0px 3px 6px 0; 
	
	
	height: 54px; 
	border-top: 1px solid #44494d; 
	overflow: hidden; 
	text-shadow: #111111 0px -1px 0px; 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	color: #dddddd; 
	text-align: center; 
	clear: both; 	
}

#header h1 { 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	font-size: 26px; 
	font-weight: normal; 
	float: left;
	color: #dddddd; 	
}

#login { 
	background: #fefefe; 
	width: 560px !important;
	padding-bottom: 5px; 
	margin-bottom: 20px; 
	padding-left:10px;
	padding-top:15px;
	float: none; 
	margin: 0 auto;
	clear: both; 
	margin-top:3em;		  
}

#login, #sidebar, #footer {
	background: #fffdfc; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #fffdfc 42%, #e3eaed 98%, #c8d7dc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(42%,#fffdfc), color-stop(98%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #fffdfc 42%,#e3eaed 98%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #fffdfc 42%,#e3eaed 98%,#c8d7dc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #fffdfc 42%,#e3eaed 98%,#c8d7dc 100%); /* IE10+ */
	background: linear-gradient(45deg,  #fffdfc 42%,#e3eaed 98%,#c8d7dc 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffdfc', endColorstr='#c8d7dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	-ms-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	-moz-border-radius-topleft: 8px; 
	-webkit-border-top-left-radius: 8px; 
	-o-border-top-left-radius: 8px; 
	-ms-border-top-left-radius: 8px; 
	-khtml-border-top-left-radius: 8px; 
	border-top-left-radius: 8px; 
	-moz-border-radius-topright: 8px; 
	-webkit-border-top-right-radius: 8px; 
	-o-border-top-right-radius: 8px; 
	-ms-border-top-right-radius: 8px; 
	-khtml-border-top-right-radius: 8px; 
	border-top-right-radius: 8px; 
	-moz-box-shadow: black 0px 3px 6px 0; 
	-webkit-box-shadow: black 0px 3px 6px 0; 
	-o-box-shadow: black 0px 3px 6px 0; 
	box-shadow: black 0px 3px 6px 0; 
}

form label { 
	font-size: 15px; 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	color: #555555; 
	margin-right: 10px; 
	vertical-align: middle; 
	display: block; 
	margin-bottom: 3px; 
}

form input[type=text], form input[type=password] { 
	width: 95%; 
	background: #fefefe; 
	border: 1px solid #bbbbbb; 
	font-family: "Lucida Grande", Verdana, sans-serif; 
	font-size: 20px; 
	color: #333333; 
	padding: 7px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	outline: none; 
	vertical-align: middle; 
}
form input[type=checkbox] { 
	display: inline; 
	vertical-align: middle; 
}
form input[type=text].required, form input[type=password].required { 
	border: 2px solid #4095df;
}

form label.boolean { 	
	display: inline; 
}

.btn-submit { 
	padding-bottom: 5px; 
	margin-top: 10px; 
	margin-bottom: 25px; 
	line-height: 54px; 
	font-size: 26px; 
	font-weight: normal; 
	display: block; 
	border-width: 0px; 
	width: 98%; 
	cursor: pointer;
}
.btn-submit:hover { 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWU1Nzk5IiBzdG9wLW9wYWNpdHk9IjAuOCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiMxZTU3OTkiIHN0b3Atb3BhY2l0eT0iMC44MSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMmQ4ZWUyIiBzdG9wLW9wYWNpdHk9IjAuODEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(45deg,  rgba(30,87,153,0.8) 0%, rgba(30,87,153,0.81) 60%, rgba(45,142,226,0.81) 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(30,87,153,0.8)), color-stop(60%,rgba(30,87,153,0.81)), color-stop(100%,rgba(45,142,226,0.81)));
	background: -webkit-linear-gradient(45deg,  rgba(30,87,153,0.8) 0%,rgba(30,87,153,0.81) 60%,rgba(45,142,226,0.81) 100%);
	background: -o-linear-gradient(45deg,  rgba(30,87,153,0.8) 0%,rgba(30,87,153,0.81) 60%,rgba(45,142,226,0.81) 100%);
	background: -ms-linear-gradient(45deg,  rgba(30,87,153,0.8) 0%,rgba(30,87,153,0.81) 60%,rgba(45,142,226,0.81) 100%);
	background: linear-gradient(45deg,  rgba(30,87,153,0.8) 0%,rgba(30,87,153,0.81) 60%,rgba(45,142,226,0.81) 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1e5799', endColorstr='#cf2d8ee2',GradientType=1 );*/
}
.btn-submit a { color: #dddddd; }
.btn-submit a:hover { color: white; }
.btn-reset  {
	display:none;
}

.check label {
	display: inline; 	
}

#sidebar {
	position:absolute;
	bottom:10px;
	right:10px;
	width: 520px !important;
	padding-bottom: 5px; 
	margin-bottom: 20px; 
	padding-left:10px;
	padding-top:15px;
	float: none; 
	margin: 0 auto;
	margin-top: 20px; 
	clear: both; 
	font-size: 13px; 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	color: #555555; 
	z-index: -100;
}

#sidebar a{
	font-size: 12px; 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	color: #555555; 
}
#cas #list-languages ul {margin:0; padding:0; line-height:1.5; list-style:none; }
#cas #list-languages ul li {display:inline; padding:0 5px; border-right:1px solid #ccc; }
#cas #list-languages ul li.first {padding-left:0;}
#cas #list-languages ul li.last {padding-right:0; border:0;}

#login h2 {
	display:none;
}

#footer {
	font-size: 10px; 
	font-family: "MuseoSlab500", "Trebuchet MS", Arial, sans-serif; 
	color: #555555; 
	
	position:absolute;
	bottom:10px;
	left:10px;
	padding: 4px; 
	float: none; 
	margin: 0 auto;
	clear: both; 
	z-index: -100;
	width: 380px !important;
}

#footer a#jasig {
	float:left; 
	clear:both; 
	display: block; 
	background-image: url(../../images/ja-sig-logo.gif); 
	width: 118px; 
	height: 31px; 	
	margin-left:.5em;
	margin-right:.5em;
}

#content>.info,#content>.errors,#content>.success {
	width:650px !important;	
	
	float: none; 
	margin: 0 auto;
	clear: both; 
	margin-top:2em;
	
}

form>.info, form>.errors, form>.success {
	width:480px !important;
	margin-bottom:10px;
}

.info, .errors, .success {
	clear:both; 
	padding-left:65px; 
	padding-top:20px; 
	font-size:11px; 
	line-height:1.5;
	
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-o-border-radius: 5px; 
	-ms-border-radius: 5px; 
	-khtml-border-radius: 5px; 
	border-radius: 5px; 
	-moz-border-radius-topleft: 8px; 
	-webkit-border-top-left-radius: 8px; 
	-o-border-top-left-radius: 8px; 
	-ms-border-top-left-radius: 8px; 
	-khtml-border-top-left-radius: 8px; 
	border-top-left-radius: 8px; 
	-moz-border-radius-topright: 8px; 
	-webkit-border-top-right-radius: 8px; 
	-o-border-top-right-radius: 8px; 
	-ms-border-top-right-radius: 8px; 
	-khtml-border-top-right-radius: 8px; 
	border-top-right-radius: 8px; 
	-moz-box-shadow: black 0px 3px 6px 0; 
	-webkit-box-shadow: black 0px 3px 6px 0; 
	-o-box-shadow: black 0px 3px 6px 0; 
	box-shadow: black 0px 3px 6px 0;
	
	overflow: hidden; 
	padding-bottom: 25px;
}

.info {
	border:1px solid 008;    
	background:#eff url(../../images/info.gif) no-repeat 7px 7px; 
	color:#008;
}
.errors {
	border:1px solid #d21033; 
	background:#fed url(../../images/error.gif) no-repeat 7px 7px; 
	color:#d21033; 
	padding-bottom: 25px;
}
.success {
	border:1px solid #390; 
	background:#dfa url(../../images/confirm.gif) no-repeat 7px 7px; 
	color:#390;
	padding-bottom: 45px;
	padding-bottom: 25px;
}
#content .errors h2, #content .success h2 {
	font-family:Georgia,"Times New Roman",Times,serif; 
	font-size:18px; 
	font-weight:400; 
	margin:0 18px 0 0; 
	padding:0;}
#content .success h2 {color: #008 !important;}
#content .errors h2 {color:#b00 !important;}
#content .success h2 {color:#060 !important;}
